html{
  box-sizing:border-box;
}
*{
  box-sizing: inherit;
}
body{
  background-color: #B8FFD7;
}
#map{
  height:600px;
  width: 80%;
  border: 5px solid;
}
#container{
  display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: column;
align-items: center;
}
h1{
  font-family: 'Literata', 'Yrsa','Noto Serif SC', Serif;
}
p{
font-family: 'Archivo Narrow', 'Roboto Condensed', sans-serif;
  padding: 1rem;
}

@media screen and (max-width: 380px){
  h1{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }
p{
  text-align: center;
  font-size: .8rem;
  padding: 1rem;
}
#map{
  height: 450px;
  width: 100%;
  border: none;
}
}
